#foto-1,
#foto-2 {
    display: inline-block;
    text-align: center;
    font-size: 23px;
    font-family: Quicksand;
    color: #A3966B;
    
}

#foto-1 p,
#foto-2 p {
    padding-top: 10px;
}

#foto-1 {
    padding-right: 50px;
}

#foto-2 {
    padding-left: 50px;
}

#foto-team {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 50px;

}

#team {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
}

#vet {
    border-bottom: 1px solid #A3966B;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 36px;
    color: #A3966B;
}

#foto-team img {
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}